@media (max-width: 1200px) {
    .home-jak-wyglada .dlaczego-kafle.jak-wyglada .dlaczego-kafel:first-child {
        width: 100%;
    }

    .dlaczego-kafle {
        .dlaczego-kafel {
            width: 50%;
            padding: 1em;

            &:first-child {
                width: 100%;
            }
        }
    }

    .home-dlaczego-kafle.wypadek .dlaczego-kafle .dlaczego-kafel {
        width: 50%;

        &:first-child {
            width: 100%;
        }
    }




    #main-nav.mobile-hide {
        position: absolute;
        background: #fff;
        top: 57px;
        left: 0;
        right: 100%;
        height: 100vh;
        overflow: hidden;
        transition: $all_tr;
    }

    #main-nav.mobile-show {
        right: -20%;
        position: absolute;
        background: #fff;
        top: 57px;
        left: -20%;
        height: 87.5vh;
        overflow: hidden;
        transition: $all_tr;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 2rem;
        overflow-x: hidden;
        overflow-y: scroll;

        .menu-cta a {
            margin-bottom: 10vh !important;
        }
    }


    header#header-kancelaria .navbar-nav .menu-cta a {
        margin-left: 0;
        margin-top: .5em;
        text-align: center;
    }
}

@media (max-width: 991px) {
    .home-formularz .formularz {

        display: block;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .home-formularz {
        background: rgb(247, 247, 247);
    }


    .home-formularz.wypadek-formularz {
        position: initial;
        top: unset;
        left: unset;
        width: 100%;
        margin: 0 auto 3rem auto;
        padding: 0;
    }

    #before-header .before-header-wrapper .hedaer-godziny {
        display: none;
    }
}

@media (max-width: 767px) {
    .home-cta {
        p {
            text-align: center;
        }

        a {
            float: unset;
            margin-top: 1em;
        }
    }

    .home-dlaczego-kafle.wypadek .dlaczego-kafle .dlaczego-kafel {
        width: 100%
    }


    footer {
        text-align: center;

        .footer-kontakt ul li {
            position: relative;
            margin-bottom: 10px;
            max-width: 240px;
            text-align: left;
            display: block;
            margin: 0 auto;
        }

        .copyright p {
            margin: 1em 0;
            text-align: center;
        }
    }

    .home-oferta .home-oferta__card {
        display: block;
        margin: 2em 0;
    }

    #before-header .before-header-wrapper .hedaer-kontakt-wrapper {
        display: none;
    }
}

@media (max-width: 576px) {
    .dlaczego-kafle {
        .dlaczego-kafel {
            width: 100%;
            padding: .5em;

            &:first-child {
                width: 100%;
            }
        }
    }
}