/* 
tutaj wrzucamy css
*/
//
//varriables
//

$primary: #002E5B;
$cta: #DD4A00;
$all_tr: all .5s;

body {
    font-family: 'Muli', sans-serif;
}

.container {
    max-width: 1520px;
}

.bg-gray {
    background-color: #F7F7F7;
}

.m-tb-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.m-tb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-cta {
    background: $cta;
    border: 2px solid $cta;
    border-radius: 2em;
    color: #fff;
    padding: 10px 30px;
    margin-top: -6px;
    transition: $all_tr;

    &:hover {
        color: #fff;
        background: transparent;
        text-decoration: none;
    }
}

.cta {
    background: #DD4A00;
    border: 2px solid #DD4A00;
    border-radius: 2em;
    color: #fff;
    padding: 10px 30px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 250px;
    margin: -6px auto 0 auto;
    font: 600;
    transition: $all_tr;

    &:hover {
        text-decoration: none;
        background: #fff;
        color: $cta;
    }
}

.comment-list {
    a {
        color: #fff;
    }

    .card-header {
        border-bottom: 1px solid $primary;
        background: $primary;

        .says {
            display: none;
        }
    }

    .card-footer {
        background: #fff;
    }

    .media-body-wrap {
        border: 2px solid #002e5b;
        border-radius: 0;
    }

    a.comment-reply-link {
        color: #fff;
        background: $primary;
        border: 0;
        border-radius: 2em;
        padding: 10px 40px;
        float: right;
        transition: $all_tr;

        &:hover {
            background: $cta;
        }
    }
}

#respond {
    border: 2px solid #002e5b;
    padding: 2em 2em 4em 2em;
    margin-bottom: 2em;

    a {
        color: $cta;
    }

    textarea {
        border: 2px solid $primary;
        border-radius: 0;
        transition: $all_tr;

        &:focus {
            color: #495057;
            background-color: #fff;
            border-color: $cta;
            outline: 0;
            box-shadow: none
        }
    }

    .alert-info {
        color: #b7c4d2;
        background-color: #002e5b;
        border-color: #002e5b;
        border-radius: 0;
    }

    #commentsubmit {
        color: #fff;
        background: $cta;
        border: 2px solid $cta;
        border-radius: 2em;
        padding: 10px 40px;
        float: right;
        transition: all 0.5s;
        width: 100%;
        transition: $all_tr;

        &:focus,
        &:hover {
            box-shadow: none;
            background: #fff;
            color: $cta;
        }
    }
}


.white-bg {
    background: #fff !important;
}

.section-content {
    .before-title {
        color: #98B5C5;
        text-transform: uppercase;
        font-size: .9em;
        font-weight: 600;
        margin-bottom: 0;
        letter-spacing: 2px;
    }

    h2 {
        color: #002E5B;
        font-size: 2em;
        font-weight: 800;
        margin-top: 0;
        position: relative;
        margin-bottom: 1em;

        &::after {
            position: absolute;
            content: '';
            height: 4px;
            width: 120px;
            z-index: 2;
            bottom: -10px;
            background: #F56922;
            left: calc(50% - 60px);
        }
    }
}

//hamburger
.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.hamburger {
    width: 50px;
    height: 6px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}

.hamburger:before,
.hamburger:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}

.hamburger:before {
    top: -16px;
}

.hamburger:after {
    top: 16px;
}

.icon.ac .hamburger {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.icon.ac .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.ac .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}


header#header-kancelaria {
    margin-bottom: 0;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
    padding: 30px 0 30px 0;
    position: absolute;
    right: 0;
    top: 55px;
    left: 0;
    z-index: 999;


    .navbar {
        padding: 0;
        position: relative;

        #header-logo {
            img {
                position: absolute;
                top: -75px;
                left: 0;
                height: 130px;
            }
        }

        #header-logo.header-logo-fixed {
            img {
                top: -30px;
                height: 90px;
            }
        }

        li {
            margin-left: 20px;
        }
    }


    /* hamburger */
    .nav-bar-toggle {
        position: relative;
        width: 26px;
        height: 22px;
        cursor: pointer;
    }

    .bar {
        position: absolute;
        width: 50%;
        height: 3px;
        background: $primary;
        transition: 300ms ease-in-out;
    }


    /* -- toggle open */
    .nav-bar-toggle.open>.top-left {
        left: 0;
        top: 0;
    }

    .nav-bar-toggle.open>.top-right {
        right: 0;
        top: 0;
    }

    .nav-bar-toggle.open>.middle-left {
        left: 0;
        top: calc(50% - 2px)
    }

    .nav-bar-toggle.open>.middle-right {
        right: 0;
        top: calc(50% - 2px)
    }

    .nav-bar-toggle.open>.bottom-left {
        left: 0;
        bottom: 0;
    }

    .nav-bar-toggle.open>.bottom-right {
        right: 0;
        bottom: 0;
    }

    /* -- toggle close */

    .nav-bar-toggle.close>.top-left {
        left: 0;
        top: 5px;
        width: 60%;
        transform: rotate(45deg);
    }

    .nav-bar-toggle.close>.top-right {
        right: 0;
        top: 5px;
        width: 60%;
        transform: rotate(-45deg);
    }

    .nav-bar-toggle.close>.middle-left {
        left: 50%;
        width: 0;
        top: calc(50% - 3px)
    }

    .nav-bar-toggle.close>.middle-right {
        right: 50%;
        width: 0;
        top: calc(50% - 3px)
    }

    .nav-bar-toggle.close>.bottom-left {
        left: 0;
        bottom: 5px;
        width: 60%;
        transform: rotate(-45deg);
    }

    .nav-bar-toggle.close>.bottom-right {
        right: 0;
        width: 60%;
        bottom: 5px;
        transform: rotate(45deg);
    }






    .navbar-collapse.justify-content-end.collapse.show {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-top: 30px;
        text-align: center;
    }

    .navbar-nav>li>a {
        color: $primary;
        font-size: 15px;
        font-weight: 700;
        transition: $all_tr;

        &:hover {
            color: $cta;
            transition: $all_tr;
        }
    }

    .navbar-nav .menu-cta {

        a {
            background: $cta;
            border: 2px solid $cta;
            border-radius: 2em;
            color: #fff;
            padding: 10px 30px;
            transition: $all_tr;
            width: 250px;
            margin: -6px auto 0 auto;

            &:hover {
                background: #fff;
                color: $cta;
            }
        }
    }
}

#header-kancelaria.top-0 {
    top: -100px;
    position: absolute;
}

#header-kancelaria.fixed-top {
    position: fixed;
    top: 0;
}

#before-header {
    padding-bottom: 0px;

    .before-header-wrapper {
        height: 64px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        .hedaer-kontakt {
            padding: 10px 30px 10px 35px;
            position: relative;

            .thin {
                font-weight: 400;
            }

            .big {
                font-weight: 800;
            }

            p {
                margin-bottom: 0;
                font-size: 13px;
            }

            &::before {
                content: url('https://dev.polskakancelariaodszkodowan.co.uk/wp-content/uploads/2020/04/phone.svg');
                position: absolute;
                left: 0;
                top: 20px;
            }

            &::after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-top: 2px solid #002e5b;
                border-left: 2px solid #002e5b;
                top: 22px;
                right: 0;
                transform: rotate(-135deg);
            }
        }

        .hedaer-godziny {
            padding: 10px 40px 10px 35px;
            position: relative;

            .thin {
                font-weight: 400;
            }

            .big {
                font-weight: 800;
            }

            p {
                margin-bottom: 0;
                font-size: 13px;
            }

            &::before {
                content: url('https://dev.polskakancelariaodszkodowan.co.uk/wp-content/uploads/2020/04/clock.svg');
                position: absolute;
                left: 0;
                top: 20px;
            }

            &::after {
                position: absolute;
                content: '';
                top: 15px;
                right: 18px;
                bottom: 15px;
                width: 2px;
                background: #E8E8E8;
            }
        }

        .header-fb {
            padding: 6px 25px 0 25px;

            img {
                height: 50px;
            }
        }

        .header-google {
            padding: 10px 0px 0 25px;

            img {
                height: 42px;
            }
        }
    }
}

footer {
    background: #002E5B;
    color: #fff;
    position: relative;
    z-index: 10;
    padding-top: 3em;

    h3 {
        color: #fff;
        font-weight: 800;
        font-size: 1.2em;
    }

    p {
        font-size: .9em;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            a {
                color: #fff;
                font-weight: 400;
                font-size: .9em;
                margin: 1em 0;
                display: block;
                transition: $all_tr;

                &:hover {
                    color: $cta;
                }
            }
        }
    }

    img {
        max-width: 260px;
        padding: 5px 5px 5px 0px;
        width: 100%;
    }

    .footer-kontakt {

        ul {
            li {
                position: relative;
                margin-bottom: 10px;

                img {
                    width: 45px;
                    position: absolute;
                }

                p {
                    color: #fff;
                    display: inline-block;
                    padding-left: 60px;
                    min-height: 45px;
                    margin-bottom: 0;
                    line-height: 45px;
                }
            }
        }
    }

    .copyright {
        border-top: 1px solid #ffffff38;

        p {
            margin: 1em 0;
            text-align: left;
        }
    }
}

ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    padding: 0 0 0 20px;

    li {
        counter-increment: my-awesome-counter;
        padding: 10px 0;
        max-width: 720px;

        &::before {
            content: counter(my-awesome-counter) ". ";
            color: $cta;
            font-weight: 800;
            position: absolute;
            left: 15px;
        }
    }
}

.section-content {
    ul {
        color: $primary;
        list-style: none;

        li {
            padding: 5px 0;
            position: relative;
            padding-left: 2em;

            &::before {
                position: absolute;
                width: 8px;
                height: 8px;
                content: '';
                border-radius: 50%;
                background: #DD4A00;
                left: -20px;
                top: calc(50% - .25em);
            }
        }
    }
}

.hero {
    padding-top: 120px;
    background: #002e5b;
    padding-bottom: 30px;

    #breadcrumbs {
        color: #fff;

        a {
            color: #fff;
        }
    }

    h1 {
        color: #fff;
        font-size: 1.75rem;
        font-weight: 800;
        max-width: 770px;
    }
}

.hero-title {
    padding-top: 140px;
}

.hero-content {
    font-size: 1.1rem;
    line-height: 1.8;
    padding: 4rem 0 3rem 0;
    color: #444;
}

// pojedyncze style
#opinie .team .team-content h3 {
    color: #002E5B;
    font-weight: 800;
    position: relative;
    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        width: 50%;
        bottom: -6px;
        left: 0;
        height: 3px;
        background: #DD4A00;
    }
}

//imports 
@import "home";
@import "wypadek";
@import "blog";
@import "kontakt";
@import "o-nas";
@import "porady";
@import "responsive";